* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}
main {
    background-color: rgb(255, 249, 242);
}
h1, h2, h3 {
    font-family: serif;
}
p, a, li {
    font-family: sans-serif;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: rgb(39, 39, 39);
  }
  header h1 {
    font-size: 24px;
    margin: 0;
    color: goldenrod;
  }
  nav {
    margin-right: 5em;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  } 
  nav a, li {
    text-decoration: none;
    color: goldenrod;
    font-weight: 500;
    transition: color 0.2s ease;
  }

/* Footer */
footer {
    margin-top: 5em;
}
.footer_menu, .footer_contact {
    margin-top: 0 !important;
}
.footer_info {
    display: grid;
    grid-template-areas: 
    "name name name"
    "adress info admin"
    "task task task";
    grid-template-rows: auto;
    padding: 3em;
    background-color: rgb(39, 39, 39);
}
.footer_info p {
    color: white;
}
.footer_info a {
    color: white;
    text-decoration: none;
}
.name {
    grid-area: name;
    text-align: left;
    margin-bottom: 1em;
    font-size: larger;
    color: goldenrod !important;
}
.adress {
    grid-area: adress;
    text-align: left;
}
.contact {
    grid-area: info;
    text-align: left;
}
.for_admin {
    grid-area: admin;
}
.task_info {
    background-color: rgb(19, 19, 19);
    padding: 2em;
}
.task {
    grid-area: task;
    color: white;
}
@media (max-width: 600px) {
    header {
        display: grid;
        grid-template-areas: 
        "h1"
        "nav";
        grid-template-rows: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    header h1 {
        grid-area: h1;
        margin-bottom: 1em;
    }
    header nav {
        grid-area: nav;
        text-align: center;
        margin: auto;
    }
    footer p, footer a {
        font-size: x-small;
    }
}